/*
!.*
.DS_Store
.EasyPmd2/
.Protege/
.Trash/
.aliases
.bash_history
.cache/
.cassandra.history
.cups/
.dropbox/
.dvdcss/
.eclipse_keyring
.gem/
.gstreamer-0.10/
.heroku/
.ievms/
.irb-history
.java/
.local/
.m2/
.mutt_certificates
.nbprofiler/
.neocon/
.netbeans/
.parallel/
.repoconfig/
.sh_history
.ssh/
.subversion/auth/
.vegas/
.vim/backup/
.vim/bundle/
.vim/view/
.vim*.tmp
.viminfo
.yjp/
.zcompdump*
.zsh-update
.zsh_history

