/*
!.*
.Bome/
.DS_Store
.EasyPmd2/
.FontForge/
.NERDTreeBookmarks
.Protege/
.Trash/
.Xauthority
.adobe/
.aerofs.*
.aliases
.android/
.ansible/
.atom/
.aws/config
.aws-credentials-master
.autobench.conf
.basex
.basexgui
.bash_history
.bzr.log
.cabal/
.cache/
.cassandra.history
.chef/
.config/
.cpan/
.csync/
.cups/
.darcs/
.drip/
.dropbox/
.dvdcss/
.eclipse_keyring
.eclim/
.editix/
.exist_history
.exist_query_history
.fasd
.fontconfig/
.fonts/
.gem/
.ghc/
.gradle/
.gstreamer-0.10/
.heroku/
.hgignore_global
.ievms/
.irb-history
.irssi/
.java/
.lesshst
.links/
.lldb-history
.local/
.lolcommits/
.m2/
.mono/
.mutt/
.mutt_certificates
.muttrc.local
.nbprofiler/
.neocon/
.netbeans/
.netrc
.node/
.node-gyp/
.npm/
.npmrc
.nvim/.netrwhist
.nvim/backup/
.nvim/plugged/
.nvim/undo/
.nviminfo
.nvimlog
.p/
.parallel/
.pentadactyl/
.pgadmin_histoqueries
.pgpass
.pip/
.pry_history
.psql_history
.rediscli_history
.repoconfig/
.rnd
.rspec
.sh_history
.sipp2.properties.xml
.slocdata/
.smb/
.sqlite_history
.ssh/
.subversion/
.subversion/auth/
.sysdb20/
.swt/
.vagrant.d/
.vegas/
.vim/.netrwhist
.vim/backup/
.vim/bundle/
.vim/doc/
.vim/eclim/
.vim/plugged/
.vim/plugin/
.vim/view/
.vim*.tmp
.vim-go/
.viminfo
.wine/
.wireshark/
.wireshark-etc/
.xbmc/
.xnviewmp/
.yjp/
.zcompdump*
.zhistory
.zsh-update
.zsh_history
