/[^.]*
.bash_history
.viminfo
.zcompdump
.zsh_history
.ssh/id_rsa*
.zsh-update
.wireshark*
.wine
.heroku/credentials
.pythonhist
.irb?history
.DS_Store
.Xauthority
.adobe
.android
.cabal
.cache
.chef
.cpan
.cups
.dropbox
.dvdcss
.eclipse*
.elinks
.erlang.cookie
.fontconfig
.fonts
.gdb_history
.gem
.ghc
.local
.rubinius_last_error
.lesshst
.m2/repository
.Trash
.cassandra.history
.sh_history
.vim/cache
.vim/.netrwhist
.subversion
.vim/backup
.rvm
.vim/bundle
!.vim/bundle/vundle
.netbeans
.neocon
.vim/eclim
.vim/doc
.vim/plugin
.vagrant.d
.rbenv
.nbprofiler
.java
.irssi
.Bome
.NERDTreeBookmarks
.autobench.conf
.config
.vim/view
