[user]
  name = George Bashi
	email = george@bashi.co.uk
[color]
  ui = auto
[core]
  whitespace = tab-in-indent,tabwidth=4
  fsyncobjectfiles = true
  preloadindex = true
  pager = less
	editor = vim
[diff]
  mnemonicprefix = true
  renames = copy
	tool = vimdiff
[pack]
  threads = 0
[rerere]
  enabled = 1
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
  pushInsteadOf = "https://github.com/"
[merge]
  log = true
	tool = vimdiff
[alias]
  lol = log --graph --decorate --oneline
  lola = log --graph --decorate --oneline --all
  h = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
  opt = repack -a -d -f --depth=250 --window=250
[push]
	default = upstream
[url "git@gitlab.semantico.net:"]
	insteadof = s:
[github]
	user = georgebashi
