zmodules=(directory environment git git-info history input utility meta custom \
          syntax-highlighting history-substring-search prompt completion)
zprompt_theme='lean'
zhighlighters=(main brackets cursor)
